* {
  margin: 10;
}
body {
  width: 90%; 
  margin: 0 auto;
  min-width: 600px;
  max-width: 2000px;
  background-color: rgb(159, 73, 153);
}

img {
  box-shadow: 10px 15px black;
  border: 30px;
  border-radius: 10px;
  margin-left: 160px;
  height: 450px;
  width: 700px;
}

.title {
  font-size: 56px;
  margin-left: 47px;
  color: rgb(127, 255, 244);
  font: 700 5.5rem 'Poppins', sans-serif;
}
.Subtitle {
  color: rgb(127, 255, 212);
  margin: auto;
  font-size: 54px;
  margin-left: 47px;
  font: 700 3.5rem 'Poppins', sans-serif;
}
.comment {
  color: rgb(97, 210, 225);
  font-size: 48px;
  margin-left: 49px;
  font: 700 2.5rem 'Poppins', sans-serif;
}
