* {
  margin: 10;
}
body {
  width: 90%; 
  min-width: 600px;
  max-width: 2000px;
  background-color: rgb(47, 99, 194);
}

img {
  box-shadow: 10px 15px black;
  border: 20px;
  border-radius: 18px;
  margin-left: 160px;
  height: 400px;
  width: 600px;
}

.title {
  font-size: 58px;
  margin-left: 56px;
  color: rgb(246, 127, 255);
  font: 700 5.5rem 'Poppins', sans-serif;
}
.Subtitle {
  color: rgb(191, 114, 217);
  margin: auto;
  font-size: 54px;
  margin-left: 47px;
  font: 700 3.5rem 'Poppins', sans-serif;
}
.comment {
  color: rgb(97, 199, 225);
  font-size: 48px;
  margin-left: 49px;
  font: 700 2.5rem 'Poppins', sans-serif;
}
