* {
  margin: 10;
}
body {
  width: 94%; 
  min-width: 600px;
  max-width: 2000px;
  background-color: rgb(66, 155, 200);
}

img {
  box-shadow: 10px 15px rgb(21, 21, 21);
  border: 20px;
  border-radius: 18px;
  margin-left: 160px;
  height: 400px;
  width: 600px;
}

.title {
  font-size: 60px;
  margin-left: 48px;
  color: rgb(204, 91, 212);
  font: 700 5.5rem 'Poppins', sans-serif;
}
.Subtitle {
  color: rgb(71, 99, 194);
  margin: auto;
  font-size: 54px;
  margin-left: 47px;
  font: 700 3.5rem 'Poppins', sans-serif;
}
.comment {
  color: rgb(151, 84, 200);
  font-size: 48px;
  margin-left: 49px;
  font: 700 2.5rem 'Poppins', sans-serif;
}
